.todoItemContainer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    min-height: 50px;
    transition: all 100ms linear;
    border: 1px solid #fff
}

.todoItemContainer:hover {
    border-color: #d9d9d9
}

.checkbox {
    cursor: pointer;
}

.todoItemContent {

}

.title {
    font-weight: bold;
}
.date {
    display: block;
    font-size: 11px;
    line-height: 1;
}

.deleteIcon {
    cursor: pointer;
    width: 20px;
}